.postTitle {
	margin: 5px;
	text-align: left;
}
.date {
	color: grey;
	font-style: italic;
	margin: 5px;
	text-align: left;
}
.postMessage {
	font-size: 12px;
	margin: 10px;
}
#pageNav {
	dispaly: block;
	width: 100%;
	background: #5E2750;
}
#pageNav > a {
    background: #5E2750;
    color: #E95420;
}
#pageNav > a:hover {
    background: #E95420;
    color: #5E2750;
}
