.postTitle {
	margin: 5px;
	text-align: left;
}
.date {
	color: grey;
	font-style: italic;
	margin: 5px;
	text-align: left;
}
.postMessage {
	font-size: 12px;
	margin: 10px;
}
hr {
	margin: 25px;
}
#pageNav {
	dispaly: block;
	width: 100%;
	background: #E95420;
	padding-top: 5px;
	padding-bottom: 5px;
}
#pageNav > a {
    color: #5E2750;
    background: #E95420;
	padding: 5px;
	text-decoration: none;
}
#pageNav > a:hover {
    color: #E95420;
    background: #5E2750;
}
