body {
	margin: 0;
}

#menu {
	display: block;
	height: 10%;
	width: 100%;
	background-color: #5E2750;
	color: #E95420;
	bottom: 0%;
	transition: bottom 2s;
}
#menu-content {
	display: none;
	height: 30%;
	width: 100%;
	background-color: #5E2750;
	z-index: 2;
	top: -30%;
	opacity: 0;
	transition: top 2s;
	transition: opacity 2s;
	transition: display 0s;
}
.menu-transition {
	top: 0;
	opacity: 1;
	display: block;
}
#menu ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu li {
	width: 100%;
	margin: 0;
	padding: 0;
}
#menu i {
	left: -3em;
	font-size: 3em;
	padding: 2.5%;
}
#menu-content ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu-content li {
	width: 100%;
	margin: 0;
	padding: 0;
}
#menu-content i {
	left: -3em;
	font-size: 3em;
	padding: 2.5%;
}
